<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SERVER" value=""/>
		<add key="DATABASE" value=""/>
		<add key="USER" value=""/>
		<add key="PASSWORD" value=""/>
		<add key="TABLE" value=""/>
		<add key="PRINTER PATH" value=""/>
		<add key="PDF LOCATION" value=""/>
		<add key="IGNORETIME" value="600"/>
	</appSettings>
</configuration>