<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SERVER" value="79.139.58.214"/>
		<add key="DATABASE" value="porta_mylan"/>
		<add key="USER" value="porta_mylan"/>
		<add key="PASSWORD" value="pxvtpZ9Ct493jkLf"/>
		<add key="TABLE" value="pitoporta"/>
		<add key="PRINTER PATH" value="Canon TS5100 series"/>
		<add key="PDF LOCATION" value="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"/>
		<add key="IGNORETIME" value="600"/>
	</appSettings>
</configuration>