<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SERVER" value=""/>
		<add key="DATABASE" value=""/>
		<add key="USER" value=""/>
		<add key="PASSWORD" value=""/>
		<add key="TABLE" value=""/>
		<add key="PRINTER PATH" value=""/>
		<add key="IGNORETIME" value="600"/> <!-- 10 minutes -->
		<add key="EMERGENCY_TRUE_FLAG" value=""/>
		<add key="EMERGENCY_FALSE_FLAG" value=""/>

		<!-- List obtained via SQL  = 0; -->
		<!-- Remote PDF mode = 1; -->
		<!-- DEFAULT= 0 -->
		<add key="NAME_LIST_MODE" value="0"/>

		<!-- Only needed if list obtained via SQL. NAME_LIST_MODE = 0 -->
		<add key="NAME_LIST_SQL_QUERY" value="SELECT teljes_nev FROM szemely sz JOIN szemely_mozgas szm ON szm.szemely_mozgas_id = sz.szemely_mozgas_fk WHERE  sz.statusz_fk = 13 AND aktiv_fl = 1 ORDER  BY teljes_nev ASC"/>

		<!-- Only needed if remote pdf location is used. NAME_LIST_MODE = 1 -->
		<add key="PDF LOCATION" value=""/>
	</appSettings>
</configuration>